<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Austin Texas House Listings</title>
    
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div class="wrapper">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class = "navbar-brand">Machine Learning Model to Predict the House Prices</a>
    </nav>

    <div class="jumbotron">
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class= "col-md-2">
          <div id = "contents">
            <p>Contents
              <ol> <a href = "https://github.com/raneymjohnGit/Austin_TX_House_Listings">GitHub Page </a></ol>
              <ol> House Price Prediction </ol>                            
              <form class = "bg-grey" action = "/results" method="post">
                <ol><label>Enter the Features for Prediction</label></ol>
                  <ul class = "list-group">
                    <li class = "list-group-item">
                      <label for="zipcode">Zipcode</label>
                        <select name="zipcode" id="zipcode">
                            <option value="78617">78617</option>
                            <option value="78660">78660</option>
                            <option value="78702">78702</option>
                            <option value="78703">78703</option>
                            <option value="78704">78704</option>
                            <option value="78705">78705</option>
                            <option value="78717">78717</option>
                            <option value="78721">78721</option>
                            <option value="78722">78722</option>
                            <option value="78723">78723</option>
                            <option value="78724">78724</option>
                            <option value="78725">78725</option>
                            <option value="78726">78726</option>
                            <option value="78727">78727</option>
                            <option value="78728">78728</option>
                            <option value="78729">78729</option>
                            <option value="78730">78730</option>
                            <option value="78731">78731</option>
                            <option value="78732">78732</option>
                            <option value="78733">78733</option>
                            <option value="78735">78735</option>
                            <option value="78736">78736</option>
                            <option value="78737">78737</option>
                            <option value="78739">78739</option>
                            <option value="78741">78741</option>
                            <option value="78744">78744</option>
                            <option value="78745">78745</option>
                            <option value="78746">78746</option>
                            <option value="78747">78747</option>
                            <option value="78748">78748</option>
                            <option value="78749">78749</option>
                            <option value="78750">78750</option>
                            <option value="78751">78751</option>
                            <option value="78752">78752</option>
                            <option value="78753">78753</option>
                            <option value="78754">78754</option>
                            <option value="78756">78756</option>
                            <option value="78757">78757</option>
                            <option value="78758">78758</option>
                            <option value="78759">78759</option>
                        </select>
                      <p class = "errMsg" id = "errzipcodeMessage"> {{errorMessage.zipcode}} </p> 
                    </li>   
                    <li class = "list-group-item">
                      <label for="yearBuilt">Year Built</label>
                      <p><input type = "number" placeholder=2000 id ="yearBuilt" name = "yearBuilt"/>
                      <p class = "errMsg" id = "erryearBuiltMessage"> {{errorMessage.yearBuilt}} </p> 
                    </li>  
                    <li class = "list-group-item">
                      <label for="lotSizeSqFt">Enter Lot Size Square Feet</label>
                      <p><input type = "number" placeholder=10000 id ="lotSizeSqFt" name = "lotSizeSqFt"/>
                      <p class = "errMsg" id = "errlotSizeSqFtMessage"> {{errorMessage.lotSizeSqFt}} </p> 
                    </li>   
                    <li class = "list-group-item">
                      <label for="livingAreaSqFt">Enter Living Area Square Feet</label>
                      <p><input type = "number" placeholder=3000 id ="livingAreaSqFt" name = "livingAreaSqFt"/>
                      <p class = "errMsg" id = "errlivingAreaSqFtMessage"> {{errorMessage.livingAreaSqFt}} </p> 
                    </li>                                 
                    <li class = "list-group-item">
                      <label for="avgSchoolRating">Enter Average School Rating</label>
                        <select name="avgSchoolRating" id="avgSchoolRating">
                          <option value=1>1</option>
                          <option value=2>2</option>
                          <option value=3>3</option>
                          <option value=4>4</option>
                          <option value=5>5</option>
                          <option value=6>6</option>
                          <option value=7>7</option>
                          <option value=8>8</option>
                          <option value=9>9</option>
                          <option value=10>10</option>
                        </select>       
                        <p class = "errMsg" id = "avgSchoolRatingMessage"> {{errorMessage.avgSchoolRating}} </p>                       
                    </li>   
                    <li class = "list-group-item">
                      <p><input type = "submit" value = "Predict the House Price"/></p>                                 
                    </li> 
                  </ul>
                  
              </form>              
            </p>
          </div>
        </div>

        <div class="col-md-1">
        </div>

        <div class="col-md-7" id ="trend">
          <div class='tableauPlaceholder' id='viz1659199872874' style='position: relative'>
            <noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;XJ&#47;XJW64RG3W&#47;1_rss.png' style='border: none' /></a>
            </noscript>
            <object class='tableauViz'  style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
              <param name='embed_code_version' value='3' /> 
              <param name='path' value='shared&#47;XJW64RG3W' /> 
              <param name='toolbar' value='yes' />
              <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;XJ&#47;XJW64RG3W&#47;1.png' /> 
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' />
              <param name='language' value='en-US' />
            </object>
          </div>                
          <script type='text/javascript'>                    
            var divElement = document.getElementById('viz1659199872874');                    
            var vizElement = divElement.getElementsByTagName('object')[0];                    
            vizElement.style.width='1169px';vizElement.style.height='1704px';                    
            var scriptElement = document.createElement('script');                    
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
            vizElement.parentNode.insertBefore(scriptElement, vizElement);                
          </script>
        </div>
                                               
        <div class="col-md-2">
        </div>
      </div>        
    </div>    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2" id = "emptyspace"></div>        
        
    <div class="col-md-10">
      <div id = "verbiage">
        <p>
          <b>Austin Texas House Listings</b>
        </p>
        <p>With mortgage rates rising and housing prices continuing to climb, a new study finds Austin has the second most overpriced housing market.It found that based on historical trends, the average price of a home in Travis County in February 2022 should have been $347,775. Instead, the study found that the actual average price is $573,123. That’s 65% higher than where historical data shows they should be.The idea of this project is to do an in-depth analysis the Austin Housing Dataset through apprropriate Machine Learning models and predict the Austin house price for the year 2023.
          <br><br>Low inventory, fiery competition and massive price gains have battered buyers since covid pandemic, but now rapidly rising mortgage rates are making it even harder to purchase an affordable home. For many buyers, higher mortgage rates mean they can no longer afford homes in specific price ranges. The problem is that even modest single-family homes cost as much as lavish pads did a few years ago, so buyers are stuck either waiting for more inventory to come online or moving to a more affordable area. And there are many more who are hoping prices will drop—but that might not happen anytime soon.
          <br><br>And we chose Austin,Texas house listings as our topic, since we are interested to see if we could apply a machine learning model to such a robust market.
          <br><br>The question we are trying to answer is can we determine the price of a house in Austin, Texas based on certain features of the property. We are also interested to see what features drive the price of the houses in Austin as well
        </p>
      </div>
    </div>
      </div>
    </div>    
</div>
</body>
</html>
