body {

    color: #f0ecec;
    background-color: white;
  }
.jumbotron {
   background-image: url("../images/AusitinHosueImage.png");
   background-size: 25% 100%;
   text-align: center;
}
.display-4 {
  color: black;
  }

.col-md-3 {
  background-color: white;
  color: black;
}

.col-md-9 {
  background-color: white;
  color: black;
}

html,
body,
#mapid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#verbiage {
  background-color: white;
  color: black;
}

